@model IEnumerable<Cell_line_laboratory.Entities.AssignTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="badge badge-dark badge-pill"><span class="icofont-plus-circle me-2"></span>Create New</a>
</p>
<table class="table">
    <thead>
       
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>

            <th scope="col">Task Designated</th>
            <th scope="col">Assigned By</th>

            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
       
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td><img src="/assets/img/avatar.png" alt="" width="40" height="40" class="rounded-500"></td>
                <td><strong>@item.User.Name</strong></td>
                <td>
                    <div class="d-flex align-items-center nowrap text-primary"><span class="icofont-ui-email p-0 me-2"></span> @item.User.Email</div>
                </td>

                <td>
                    <div class="text-muted text-nowrap">@(item.Designation.Length > 10 ? $"{item.Designation.Substring(0, 10)} ..." : item.Designation)</div>
                </td>
                <td>
                    <div class="text-muted text-nowrap">@item.AssignedBy</div>
                </td>
                <td>
                    <div class="text-muted text-nowrap">@item.CreatedDate</div>
                </td>

               
          
            <td>
            

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-sm btn-square rounded-pill">
                        <span class="btn-icon icofont-external-link"></span>
                    </a>
                   
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm btn-square rounded-pill">
                            <span class="btn-icon icofont-ui-edit"></span>

                        </a>



                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-error btn-sm btn-square rounded-pill">
                            <span class="btn-icon icofont-ui-delete"></span>
                        </a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
