@model Cell_line_laboratory.Entities.EquipmentInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LastMaintenanceDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LastMaintenanceDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NextMaintenanceDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NextMaintenanceDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
